{{ define "main" }}
<hr class="content-rule">
<main class="content-body">
  {{- if .Params.hero }}
  {{- $img := resources.Get .Params.hero }}
  {{- if $img }}
  {{- $heroResized := $img.Resize "1200x webp" }}
  <div class="section-hero" style="height: {{ .Params.hero_height | default "250px" }}">
    <img src="{{ $heroResized.RelPermalink }}" alt="{{ .Title }}"
         style="object-position: {{ .Params.hero_position | default "center" }}">
  </div>
  {{- end }}
  {{- end }}

  <h1 class="section-title">{{ .Title }}</h1>

  {{ with .Content }}{{ . }}{{ end }}
</main>
{{ end }}
